<div class="container">
  <main>
    <div class="aqi-image-container">
      <img src="../assets/images/{{imageIndex}}.png" /><br/>
    </div>

    <div *ngIf="hasAqi; else other" class="aqi-description">
      <div class="aqi-text" [ngStyle]="{'color': colorCode }">{{ aqiIndexString }}</div>
      <div class="aqi-index" [ngStyle]="{'color': colorCode }">{{ aqiIndexObj.aqi }}</div><br/>
      <div class="city-name">{{ aqiIndexObj.city.name }}</div>
      <div class="city-attribute-name">{{ aqiIndexObj.attributions[0].name }}</div>
      <div class="time">Last recorded {{ aqiIndexObj.time.s | date: 'short'}}</div>
    </div>
  </main>
</div>