.container{
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    padding: 2%;
}

.aqi-image-container > img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.aqi-description{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-family: Calibri;
    font-weight: 100;
}

.aqi-text{
    font-weight: 500 !important;
    font-size: 40px;
}

.aqi-index{
    font-size: 45px;
    font-weight: 100 !important;
    line-height: 35px;
}

.city-name, .city-attribute-name{
    font-weight: 400 !important;
}

.other-message{
    width: 100%;
    text-align: center;
    font-size: 22px;
    margin-top: 40px;
    font-family: Calibri;
    font-weight: 300;
}